
<!DOCTYPE html>
<html>
<head>
    <title>File not found</title>
</head>
<body>
    <div align="center">
        <br /><br />
        <a href="http://www.lamnghiep.com">
            <img src="~/Content/images/tcln_ico.png" />
        </a>


        <br />
        <br />
        <div style="font-size: 16pt; font-weight: bold;">
            Lỗi hệ thống đã xảy ra
        </div>
        <p style="font-size: 14pt;">
            Chúng tôi xin lỗi về sự bất tiện này
            <br />
            <br />
        </p>
        <p style="font-size: 14pt;">
            Xin trở lại <a href="/Home">trang chủ</a> hoặc thực hiện lại
        </p>

        <!-- implement as you like
            <br /><br />
            <a href="http://www.yourdomain.com">http://www.yourdomain.com</a>
            -->
        <p style="font-size: 14pt;">
            Cảm ơn hợp tác của bạn
        </p>
    </div>
</body>
</html>
