@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = null;
}
@Styles.Render("~/Content/fullcalendarcss")
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/modernizr")
<script src="~/Scripts/moment.js"></script>

@Scripts.Render("~/bundles/fullcalendarjs")
<script src="~/Scripts/lang-all.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('#calendar').fullCalendar('render');
        });
        $('.nav-tabs a:first').tab('show');
        $('#calendar').fullCalendar({
            lang: 'vi',
            theme: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },

            defaultView: 'agendaWeek',
            editable: false,
            allDaySlot: true,
            selectable: false,
            slotMinutes: 30,
            minTime: "06:00:00",
            maxTime: "21:00:00",
            events: "/api/LamNghiepApi/GetLichCongTacCaNhan",
            eventClick: function (event) {
                $("#myModal").modal("show");
                $('span#hotencanbo').html(event.title);
                $('span#kehoachcongtac').html(event.description);
                $('span#ngayketthuc').html(event.start._i);
                $('span#thoigian').html(event.end._i);
                $('span#diadiem').html(event.location);
                $('span#thanhphan').html(event.attend);
            }
        });
        $('.fc-prev-button').html('Tuần trước');
        $('.fc-next-button').html('Tuần tới');
       
    });
</script>

<style>
    .fc-view-container table thead {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #fff;
    }

    .fc-view-container table th {
        padding: 5px 10px;
    }
</style>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Kế hoạch công tác</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning alert-datphong-cs">
                    <span id="ngayconlai">Còn 1 ngày </span>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4 col-md-4 control-label"><span style="font-weight:bold">Họ tên cán bộ :</span></div>
                    <div class="col-xs-8 col-md-8">
                        <span id="hotencanbo"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-md-4 control-label"> <b>Kế hoạch công tác :</b></div>
                    <div class="col-xs-8 col-md-8 control-label">
                        <span id="kehoachcongtac"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4 control-label"><span style="font-weight:bold">Ngày bắt đầu :</span></div>
                    <div class="col-xs-8  col-md-8 control-label">
                        <span id="thoigian"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4 control-label"><span style="font-weight:bold">Ngày kết thúc :</span></div>
                    <div class="col-xs-8  col-md-8 control-label">
                        <span id="ngayketthuc"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4 control-label"><span style="font-weight:bold">Địa điểm :</span></div>
                    <div class="col-xs-8  col-md-8 control-label">
                        <span id="diadiem"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4 control-label"><span style="font-weight:bold">Thành phần:</span> </div>
                    <div class="col-xs-8 col-md-8 control-label">
                        <span id="thanhphan"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-3 control-label"><span style="font-weight:bold">Nội dung:</span></div>
                    <div class="col-xs-8  col-md-5 control-label">
                        <span id="noidung"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng </button>
            </div>
        </div>
    </div>
</div>


<ol class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/Home">Trang chủ</a></li>
    <li class="active">Lịch công tác</li>
</ol>
<div class="row">
</div>
<div class="row">

    <div class="col-md-12">
        <div id="calendar"></div>
    </div>

</div>